@keyframes aniopcity {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .anim{
    animation-name: anim;
    animation-duration: 6s;
    animation-iteration-count: infinite;
  }

  @keyframes anim{
    0% {background-color: white;}
   50% {background-color: rgb(246, 216, 182);} 
  100% {background-color: white;} 
 }
 