
 <span *ngFor="let opcion of opciones">
    <ng-container *ngIf="principal">
        <span (mouseenter)="mouseenter()">  
            <button class="example-menu-bar-item" mat-button 
                    *ngIf="opcion.subopciones.length === 0 " 
                    (click)="click(opcion)"   >
                {{opcion.name | translate}}
            </button>
            <span  *ngIf="opcion.subopciones.length > 0 ">
                 <button  class="example-menu-bar-item" mat-button [matMenuTriggerFor]= "menu" >
                   {{opcion.name | translate}}
                 </button> 
                 <mat-menu #menu = "matMenu"> 
                      <app-nested-menurct *ngIf="opcion.subopciones.length>0"
                                           (onclick)="click($event)" 
                                           [opciones] = "opcion.subopciones"   
                                           [titulo] = "opcion.name" >
                      </app-nested-menurct>
                 </mat-menu>
            </span>
        </span>               
    </ng-container>

    <ng-container *ngIf="!principal">
        <button  [matMenuTriggerFor]="menu" mat-menu-item>
            {{titulo | translate}}
        </button>
        <mat-menu #menu="matMenu">
            <ng-container *ngFor="let opcion of opciones">
                <button mat-menu-item>
                    <button  mat-menu-item 
                            *ngIf="opcion.subopciones.length===0"
                            (click)="click(opcion)">
                       {{opcion.name | translate}}
                    </button>
                    <app-nested-menurct *ngIf="opcion.subopciones.length>0" 
                                        (onclick)="click($event)" 
                                        [opciones] = "opcion.subopciones"   
                                        [titulo] = "opcion.name" >
                    </app-nested-menurct>
                </button>
            </ng-container>
        </mat-menu>
    </ng-container>
 </span>

